body {
    font-size: 18px;
    font-weight: 300 , 400 ;
}
.attribution {
    font-size: 11px;
    text-align: center;
    top: 3rem;
    color: hsl(233, 8%, 62%);
    background-color:  hsl(233, 26%, 24%);
  }
  .attribution a {
    color: white;
    text-decoration: none;
  }
header{
    height: 80px;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:row;
}
button {
    border: white;
    height: 40px;
    width: 150px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    background-image: linear-gradient(
          to right,
          hsl(136, 65%, 51%),
          hsl(192, 70%, 51%)
  );
}

ul {
    display: flex;
    flex-direction:row;
}
li {
    display: flex;
    padding-left: 10px;
    cursor: pointer;
}
.header2{
    display: flex;
    background-image: url("./images/bg-intro-desktop.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    justify-content:space-evenly;
    height: 500px;
}
.image{
    height: 700px;
}
.header2 section{
    padding-left: 50px;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
}
.header2 section h1{
    font-size: 50px;
    width: 500px;
}
.header2 section {
    width: 500px;
}

section {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
section div{
    display: flex;
    flex-direction: row;
}
.section1{
    padding-top: 100px;
    background-color: hsl(220, 16%, 96%);
}
.section1 h2{
    font-size: 30px;
    display: flex;
}
.section1 p{
    width: 250px;
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.feature-img{
    padding-left: 60px;
}
.article-image{
    width: 250px;
    height: 200px;
    padding-right: 10px;
}

article{
    width: 260px;
}
article h4{
    cursor: pointer;
}

.footer1{
    height: 100px;
    color: white;
    background-color: hsl(233, 26%, 24%);
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.ulshort{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer1 .footerimages{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.imagelist {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
}
li:hover{
    color: cyan;
}
button:hover{
    background-color: cyan;
}
article h4:hover{
    color: cyan;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }



  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    header ul li{
      font-size: 16px;
    }
  }

  #check{
    display: none;
  }

@media screen and (max-width:1200px) {
	.header2 {
        background-image: url("./images/bg-intro-mobile.svg");
        background-position: top right;
        background-repeat: no-repeat;
        background-size: contain;
		flex-direction: column;
        width:auto;
        height: auto;
	}

  header ul li{
    display: block;
    margin: auto;
    line-height: 30px;
  }
  .header ul {
      display: flex;
      justify-content: center;
  }
 
    header{
        display: flex;
        justify-content: space-evenly;
    }
	section div{
        display: flex;
        justify-content: stretch;
		flex-direction: column;
        width: auto;
	}
    .footer1{
		flex-direction: column;
        width: auto;
        height: auto;
        justify-content: center;
	}
    
    .ulshort{
        width: auto;
        height: auto;
        padding-right: 40px;
    }

    .logo2{
        padding-bottom: 10px;
    }
    .header2{
        width: auto;
        flex-direction: column-reverse;
    }
    .header2 section h1{
        font-size: 25px;
        width: auto;
    }
    .header2 section {
        width: auto;
        align-content: flex-end;
    }
    .image{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .section1 p{
        display: flex;
        justify-content: center;
    }
    article{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
    .article-image{
        width: auto;
        height: auto;
    }
    .feature-img{
        padding-left: 0px;
    }
    .section1 p{
        width: auto;
        display: flex;
        align-items: center;
    }
    .checkbtn{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    header ul{
        position: fixed;
        width: 100%;
        flex-direction: column;
        background: #2c3e50;
        top: 70px;
        left: -120%;
        text-align: center;
        transition: all .5s;
      }
      li{
          color: white;
      }
      li.hover,li.active{
        background: none;
        color:cyan;;
      }
      #check:checked ~ ul{
        left: 0;
      }
     
}